@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;600&family=Source+Sans+Pro:wght@400;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


* {
    font-family: 'Source Sans Pro', 'Mitr';
    font-weight: 300;
}

strong,
h1,
h2,
h3,
h4 {
    font-weight: 600;
}

a {
    color: currentColor;
}

.tabs {
    position: fixed;
    bottom: 0;

    width: 100%;


    background: rgba(255, 255, 255, 0.90);

    backdrop-filter: blur(4.0px);
    -webkit-backdrop-filter: blur(4.0px);

    color: gray;

}

.tabs-nav {

    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%
}


.tabs-nav li {
    padding: 10px 0 5px 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: env(safe-area-inset-bottom);
}

@keyframes zoomin{
    0% {
      opacity:0;
      transform:  scaleX(0.50) scaleY(0.50) ;
    }
    100% {
      opacity:1;
      transform:  scaleX(1.00) scaleY(1.00) ;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .zoomin-trigger {
      animation: zoomin 0.5s 1;
    }
}

input:focus, textarea:focus, select:focus{
    outline: none;

}

.starticon {
    display: block;
    width: 200px;
    margin: 30px auto 0 auto;
}

.welcome {
    font-size: 15px;
    padding: 0;
}

.subjfrn {
    margin: 0;
}

.countdown {
    margin: 20px 0 0 0;
    display: none;
    justify-content: space-evenly;
}

.time-con  {
    margin: 0;
    background-color: #334257;
    padding: 10px;
    border-radius: 10px;
    width: 50px;
    text-align: center;
}

.time-con h1, .time-con p {
    margin: 0;
}

.time-con h1 {
    display: none;
}

.time-con p {
    font-size: 12px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto 3px auto;
  animation: spin 2s linear infinite;
}

.scroller {
    overflow-x: scroll;
    position: relative;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tabs-nav-selected {
    color: #2978B5;
}

.navdesc {
    font-size: 14px
}

.banner {
    height: 250px;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    border-radius: 0 0 20px 20px;

}

.onMiddle {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.usernameBox {
    width: 70%;
    max-width: 450px;
    padding: 10px;
    border: none;
    background-color: #d4d4d4;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;

}

.autherror {
    background-color: #FFCDD2 ;
    color: #B71C1C;
    padding: 10px;
    border:  1px solid #B71C1C;
    border-radius: 10px;
    width: 80%;
    display: block;
    margin: 10px auto;
}

.passwordContainer {
    display: flex;
    justify-content: center;
}

.passwordBox {
    margin: 0 2%;
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
    border: black solid 1px;
    transition: all .2s ease-in-out;
    outline: none;
}

.passwordBox:focus {
    transform: scale(1.3);
}

.submitPasswordButton {
    width: 150px;
    border: none;
    height: 50px;
    border-radius: 15px;
    font-size: 25px;
    display: none;
}

.captcha {
    margin: 15px 0 0 0;
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}

.textCenter {
    text-align: center;
}

.fullscreen {
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0;
    color: white;
    background-image: linear-gradient(109.6deg, rgba(255, 174, 0, 1) 11.2%, rgba(255, 0, 0, 1) 100.2%);
    width: 100%;
    height: 100vh;

    z-index: 999;
}

.unsupported {
    display: none;
}

.fullscreen h1,
.fullscreen p {
    margin: 0 10px 10px 10px;
    text-align: center;
}

a {
    text-decoration: none;

}

hr {
    margin: 0 25px 25px 25px;
    border: none;
    height: 0.5px;
    color: #c1c1c1;
    background-color: #c1c1c1;
}

.contents {

    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.onlandscape {
    display: block;
}

.outbreak {
    display: none;
}

.onprint {
    display: none;
}


@media only screen and (max-width: 500px) {
    .onlandscape {
        display: none;
    }
}

@media print {
    .onprint {
        display: block;
    }

    .onlandscape {
        display: none;
    }
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

.pagetitle {

    font-size: 50px;
    padding: 30px 25px 0 25px;
    margin-top: 0;
    margin-bottom: 5px;
}

.userprofile {
    display: inline;
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 50px;
    color: white
}

.header {
    margin-bottom: -1px
}

.headerbottom {
    padding: 0 0 80px 0;
    border-radius: 0 0 100% 100%;
    margin: -1px 0 20px 0;
    height: 0;
}


.scrolldown {
    display: block;
    margin-left: auto;
    margin-right: auto;

    --color: white;
    --sizeX: 20px;
    --sizeY: 40px;
    position: relative;
    top: 20px;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: var(sizeX / 2);
    border: 2px solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.scrolldown::before {
    content: "";
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
    0% {
        opacity: 0;
        height: 4px;
    }

    40% {
        opacity: 1;
        height: 8px;
    }

    80% {
        transform: translate(0, 20px);
        height: 8px;
        opacity: 0;
    }

    100% {
        height: 3px;
        opacity: 0;
    }
}

/*copy until here */




.profilepic {
    margin: 0 0 0 30px;
    color: #2978B5
}

.countdownbox {
    text-align: center;
}

.box {
    margin: 10px 25px 20px 25px;
    padding: 20px;
    border-radius: 15px;
}

.box h1,
.box p {
    margin: 0;
}

.bluegradient {
    background: rgb(0, 34, 112);
    background: linear-gradient(30deg, rgb(1, 44, 145) 10%, rgba(0, 189, 255, 1) 100%);
    color: white;
}

.darkbluegradient {
    background: rgb(0, 34, 112);
    background: linear-gradient(90deg, rgb(1, 44, 145) 10%, rgb(0, 89, 255) 100%);
    color: white;
}

.redgradient {
    background: #ED213A;
    background: linear-gradient(to right, #93291E, #ED213A);
    color: white;

}

.yellowgradient {
    background: #F2994A;
    background: linear-gradient(to right, #F2994A, #F2C94C);
    color: white;
}

.greengradient {
    background: #56AB2F;
    background: linear-gradient(to right, #56AB2F, #A8E063);
    color: white;
}

.graygradient {
    background: black;
    background: linear-gradient(to right, black, #2F2F2F);
    color: white;
}

.transparentbox {
    -webkit-box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.covidnum {
    background-color: #810000;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

h1.covidtotal {
    display: inline;
    margin-left: 15px;
}

@media only screen and (max-width: 275px) {
    .pagetitle {
        margin-top: 0;
    }

    .unsupported {
        display: flex;
    }

}

.Height15PX {
    display: none;
}

@media only screen and (max-width: 350px) {
    .Height15PX {
        display: block;
    }
}

.buttonarrow {
    margin: 15px 0 0 10px;

}

.buttonarrow a {
    color: white;
}

.buttonarrow a p {
    display: inline;
    margin-left: 10px;
    font-size: 20px;
}

.submitButton {
    display: none;
    border: none;
    padding: 0;
    background-color: transparent;
    margin-left: 10px;
    position: relative;
    top: 7px;
    color: #2978B5
}

.bottomHeight {
    height: 120px;
}

.username-profile {
    display: inline-block;
    margin: 0 0 0 15px
}

.username-profile h1,
.username-profile h3 {
    margin: 0
}

.title-profile {
    margin: 0 0 0 30px;
}

.pendingRequest {
    width: 100%;

}

.pendingRequestTable {
    padding: 10px 25px 0 25px;
}

.download {
    width: 100%;
    margin: 10px 0 10px 0;
}

.noAccountDownload {
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 25px;
    margin: 0;
    margin-bottom: 10px;
}

.download h2 {
    margin: 0
}

.download-button {
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin: 0 auto 0 auto
}

.download-button-blue {
    background-color: #0074DB;
    color: white;
    box-shadow: 0 2.5px 7.5px #0074DB;
}

.download-button-blue:hover {
    box-shadow: 0 5px 15px #0074DB;
}

.download-button-dblue {
    background-color: #0057a3;
    color: white;
    box-shadow: 0 2.5px 7.5px #0057a3;
}

.download-button-dblue:hover {
    box-shadow: 0 5px 15px #0074DB;
}

.download-button-green {
    background-color: #00C206;
    color: white;
    box-shadow: 0 2.5px 7.5px #00C206;
}

.download-button-green:hover {
    box-shadow: 0 5px 15px #00C206;
}

.download-button-gray {
    background-color: #737373;
    color: white;
    box-shadow: 0 2.5px 7.5px #737373;
}

.download-button-gray:hover {
    box-shadow: 0 5px 15px #737373;
}

.download-button-red {
    background-color: #E34B69;
    color: white;
    box-shadow: 0 2.5px 7.5px #E34B69;
}

.download-button-red:hover {
    box-shadow: 0 5px 15px #E34B69;
}

.dangerButton {
    color: red;
    margin-left: 30px;
}

.padd {
    margin: 0 25px 0 25px;
}

.tableContainer {
    overflow-x: auto;
    position: relative;
    display: none;
    
}

.tableContainer table {
    width: 100%;
    border-spacing: 0;
}

.tableContainer table tbody {
    text-align: center;
}

.tableContainer table th {
    font-weight: bold;
    font-size: 20px;
}

.tableContainer table tr {
    height: 40px;
}

.tableContainer table thead tr,
.tableContainer table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tableContainer table tr:hover {
    background-color: #dadada;
}

.testRoom {
    margin-bottom: 30px;
}

.testRoom select {
    margin-top: 10px;
    font-size: 20px;
    padding: 5px 15px;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.testRoom #numberSelect,
.testRoom .box {
    display: none;
}

.filecard {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
}

.filecard * {
    margin: 0;
}

.filecard h1 {
    font-size: 25px;
}

.filecard ul {
    padding:  0 0 0 25px;
}

.fileList {
    display: flex; 
    flex: 1;
}

.fileListChild {
    display: flex; 
    min-height: min-content; 
    align-items: flex-start
}

.older {
    max-height: 300px;
    position: relative;
    overflow: hidden;
    transition: max-height 1s ease-out;
}

.olderReadMore {
    max-height: 1200px;
    transition: max-height 1s ease-out;
}

.read-less-btn {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


.older .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 40px 0;
    background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    transition: opacity 0.5s ease-out;
}

.older .button {
    background-color: #96BAFF;
    padding: 15px;
    border-radius: 10px;
    color: #3C5186;
    font-weight: bold;
    position: relative;
    top: 20px;
}

.credits {
    text-align: center;
    margin-top: 50px;
}

.credits p {
    margin: 0;
}

.background-tools {
    color: white;
    opacity: 0.7;
    position: absolute;
    right: 40px;
    font-size: 100px;
    top: 45px
}

.background-account {
    top: 0;
}






.onExamActive {
    display: none;
}